$regcolor: #0068ad;
$maincolor: #68bc71;
$subcolor: #ffffff;
$background: #000000;
$mainfont: "Poppins";

@mixin mobile {
  @media screen and (max-width:480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width:768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width:1200px) {
    @content;
  }
}
.App {
  font-family: $mainfont;
}

.RegisterMain {
  background-color: $regcolor;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  .RegisterSub {
    h2 {
      color: $regcolor;
    }
    span:hover {
      color: blue;
      cursor: pointer;
      font-weight: bolder;
    }
    span {
      color: rgb(255, 0, 0);
      font-variant: petite-caps;
      cursor: pointer;
      font-weight: bolder;
    }
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      &::placeholder {
        color: $regcolor;
      }
      input {
        border-bottom: 1px solid black;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        height: 25px;
        cursor: pointer;
        font-size:small;
        &:focus{
         
        outline: none;
        }
      }
       

      input[type="file"] {
        border: 0;
        cursor: pointer;
      }
      .RegisterButton {
        background-color: $regcolor;
        border: 0;
        cursor: pointer;
        height: 30px;
        align-items: center;
        font-variant: petite-caps;
        color: white;
        font-weight: bolder;
      }
      .RegisterButton:hover {
        background-color: white;
        border: 1px solid black;
        cursor: pointer;
        color: black;
        height: 30px;
        align-items: center;
      }
    }
  }
}
.home {
  background-image: linear-gradient(to right, #fe7d6b, #ba8dc7);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  .homeSub {
    border: 1px solid $maincolor;
    border-radius: 10px;
    width: 75%;
    height: 90%;
    display: flex;
    overflow: hidden;
    @include tablet(){
       width: 90%;
    }
    .slidebar {
      flex: 1;
      background-color: $background;
      position: relative;
      color: $subcolor;
      .navbar {
        border-bottom: 1px solid #333333;
        height: 50px;
        padding: 10px;
        color: $subcolor;
        background-color: $background;
        display: flex;
        align-items: center;
        .logo {
          color: $maincolor;
          font-weight: bolder;
          font-family: "Raleway";
          margin: 5px;
          flex: 1;
          
        }
        .user {
          display: flex;
          align-items: center;
          justify-content: space-around;

          .nav-btn {
            background-color: #ffffff;
            border: 1px solid;
            border-radius: 0px;
            color: rgb(0, 0, 0);
            padding: 5px;

            cursor: pointer;
          }
          .user_name {
            font-weight: bolder;
           
          }
        }
        .user img {
          border-radius: 40%;
          height: 40px;
          padding: 10px;
          cursor: pointer;
          object-fit: cover;
        }
      }
      .search {
        width: 100%;

        .searchForm {
          width: 100%;
          display: flex;
        }
        .searchForm input {
          height: 23px;
          width: 100%;
          background: $background;

          border-bottom: 1px solid #242424;
          border-top: 0px;
          border-left: 0px;
          border-right: 1px solid #333333;
          color: $subcolor;
          cursor: pointer;
          padding: 10px;
          font-size: 15px;
        }
        .searchForm input:focus {
          font-size: 13px;
          height: 23px;
          width: 100%;
          background: $background;
          color: $subcolor;
          border-top: 0px;
          border-left: 0px;
          border-right: 0px;
          color: $subcolor;
          cursor: pointer;
          padding: 10px;
          outline: none;
        }

        .searchForm input::placeholder {
          color: $subcolor;
        }
        .userChat {
          height: 60px;
          color: $subcolor;
          display: flex;
          align-items: center;
          width: 100%;
          .userChat-info {
            .user1 {
              font-weight: bolder;
            }
            .message1 {
              font-size: 12px;
            }
          }
        }
        .userChat:hover {
          background-color: #242424;
        }
        .userChat img {
          height: 38px;
          margin: 10px;
          border-radius: 50%;
        }
      }
      .chats {
        border-right: 1px solid #333333;
        overflow: scroll;
        height: calc(100% - 113px);
        overflow-x: hidden;
        &::-webkit-scrollbar {
          display: none;
        }
        .userChat {
          height: 60px;
          color: $subcolor;
          display: flex;
          width: 100%;
          align-items: center;

          .userChat-info {
            .user1 {
              font-weight: bolder;
            }
            .message1 {
              font-size: 12px;
            }
          }
        }
        .userChat:hover {
          background-color: #242424;
        }
        .userChat img {
          height: 38px;
          margin: 10px;
          border-radius: 50%;
        }
      }
    }
    .chat {
      flex: 2;
      background-color: $background;

      color: $subcolor;
      display: flex;
      flex-direction: column;
      .chatInfo {
        width: 100%;
        top: 0;
        height: 50px;
        padding: 10px 0px 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: "Nunito";
        text-transform: capitalize;
        border-bottom: 1px solid #333333;
      }
      .chatUser {
        width: 50px;
        padding: 10px;
        display: flex;
        align-items: center;
      }
      .chatUser img {
        border-radius: 40%;
        height: 40px;
        padding: 10px;
        cursor: pointer;
      }
      .chatIcons img {
        height: 30px;
        padding: 10px;
        cursor: pointer;
      }
      .chatIcons {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      .messages {
        background: $background;
        height: calc(100% - 150px);
        padding: 10px;
        overflow: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar {
          display: none;
        }
        .message {
          display: flex;
          gap: 20px;
          margin-bottom: 20px;

          .messageInfo {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            span {
              font-size: x-small;
              color: gray;
            }

            img {
              width: 35px;
              height: 35px;
              border-radius: 40%;
              object-fit: cover;
            }
          }
          .messageContent {
            max-width: 75%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 10px;
            img {
              width: 50%;
              border-radius: 10px 10px 0px 10px;
            }
            p {
              background: #333333;
              padding: 5px;
              border-radius: 10px 10px 10px 0px;
              text-transform: math-auto;
              font-family: "Nunito";
              max-width: max-content;
            }
          }
          &.owner {
            flex-direction: row-reverse;
            p {
              background: #444444;
              padding: 8px;
              border-radius: 10px 10px 0px 10px;
              text-transform: math-auto;
              font-family: "Nunito";
            }
          }
        }
      }
      .input {
        display: flex;
        border-top: 1px solid #383838;
        align-items: center;
        height: 50px;
        padding: 5px;
        background: $background;
        color: $subcolor;
        input {
          padding: 5px 5px 5px 0px;
          height: calc(100% - 5px);
          width: 70%;
          background: transparent;
          color: $subcolor;
          border: none;
        }
        input::placeholder {
          color: $subcolor;
        }
        input[type="text"]:focus {
          font-size: small;
          font-family: serif;
          font-weight: 500;
          outline: none;
          color: #e9e9e9;
        }
        .send {
          display: flex;
          align-items: stretch;
          justify-content: center;
          gap: 5px;
          button {
            border-radius: 0;
            border: 0;
            background: $maincolor;
            color: $subcolor;
            padding: 10px;

            width: 60px;
            cursor: pointer;
          }
          button:hover {
            background-color: #509257;
          }
          img {
            height: 30px;
            gap: 5px;
            margin: 5px;
          }
        }
      }
    }
  }
}
